.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.new-collection{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;

}
.new-collection hr{
    background-color: black;
    width: 120px;
    margin-top: 0;
    margin-bottom: 40px;
}